{% extends 'base.html.twig' %}
{% block body %}
<h2>
Notes
<a class="btn btn-sm btn-primary" href="{{ path('note_new') }}">Create Note</a>
</h2>

<table class="table table-bordered">
    <tr>
        <th>Sl. No.</th>
        <th>Title</th>
        <th>Content</th>
        <th>Action</th>
    </tr>
    {% for note in notes %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.content }}</td>
            <td>
                <a class="btn btn-sm btn-info" href="{{ path('note_edit', {id: note.id}) }}">Edit</a>

                <form action="{{ path('note_delete', {id: note.id}) }}" method="post" style="display:inline">
                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}